.footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 80px 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 30px;
  }

  &__logo-link {
    place-self: start;
  }

  &__logo {
    width: 146px;
  }

  &__column-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 40px;
  }

  &__list {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;

    &_contacts {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 36px;
    }
  }

  &__item {
    margin-bottom: 15px;

    &_contact {
      margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link{
    transition: color 0.36s ease-in-out;
    &:hover {
      color: var(--color-main);
    }
  }
}

.footer__list_double {
  column-count: 2;
}